body {
    background-color: rgb(250, 167, 181);
}
p{
    margin: 10px 0 !important;
}
.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}
.fa-small{
    font-size: 16px !important;
}
.btn-float{
    float: left;
    margin-right: 10px;
}

.img-small{
    width: 180px;
}
.card-content{
    background: rgb(243, 215, 215);
}
.login-container{
    border-radius: 15px;
    
}
.card{
    border: 2px solid rgb(98, 97, 97);
    margin-top: 40%;
    border-radius: 15px;
}